
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello <%= username  %> </title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
    ></script>
</head>
<body>
    
</body>
</html>
    
    <h2 style="margin-top: 25%;">I'm <%= username %></h2>
    <a id="logout" href="/logout">Logout</a>

</body>
</html>